.input-search{
   margin-left: 12% !important;
   margin-top: 2% !important;
    border: none;
}

input:focus{
    outline: none !important;
}

.input-group{
    width: 10% !important;  
}
.input-group.input-search > input{
    border: none;
    border-bottom: 1px #adb5bd solid;
    background-color: transparent !important;
    border-radius: 0px !important;
    font-size: 14px !important;
}

.input-group-text{
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px #adb5bd solid !important;
    border-radius: 0px !important;
    font-size: 14px !important;
}

.radio-view{
    border-radius: 1px !important;
    width: 97px !important;
    height: 32px !important;
    background-color: #CFD8DC !important;
    border-color: #adb5bd !important;
    color: #78909C !important;
    font-size: 14px !important;
    font-family: 'Roboto';
}

