.header{
    background-color: #E3E3E3 !important;
}
.sidebar{
    height:100%;
    width:7.9% !important;
    background-color:#FFFFFF !important;
    position:fixed!important;
    z-index:1;
    overflow:auto;
    box-shadow: #607D8B 1px 2px 4px 0px !important;
}

.light-grey,.light-grey:hover{
    color:#000!important;
}

.bar-block{
    width:100%;
    text-align:left;
    padding:8px 16px
}

.bar-block .bar-item{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0

}
.bar-block .bar-item{
    text-align:center
}

.bar-item{padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}

.nav{
    margin-top: 1% !important;
    padding-left: 9% !important;
    margin-left: -2% !important;    
}
.nav-tabs, .nav-link {
    border-radius: 1px !important;
}

.nav-tabs, .nav-item{
    margin-left: 1.5% !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    border-top: 3px #67A949 solid !important;
    color: #67A949 !important;
    background-color: #F2F2F2 !important;
    border-bottom-color: #F2F2F2 !important;
}

.nav .nav-tabs{
    padding-left: 5% !important;
}

.nav-tabs{
   border-bottom: 1px solid rgba(203, 197, 198, 0.82) !important;
}

.nav-link{
    color: #263238 !important;
}

.nav-link:hover, .active{
    background-color: #ACACAC !important;
    margin-top: 2px !important;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    /* border-color: #e9ecef #e9ecef #dee2e6; */
    background-color: rgba(0, 0, 0, 0.075) !important;
}

.row{
    margin: 0px !important;
}

.title-header{
    width: 52px;
    height: 24px;
    padding-left: 24% !important;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: bold !important;
    color: #607D8B !important;
}

.title-header, .name-user-header{
    margin-top: 4% !important;
}

.name-user-header{
    text-align: right;
    padding-right: 5%;
    color:#455A64;
    font-family: 'Roboto';
    font-size: 14px;
}

.item{
    margin-top:71%;
}

.itens-general{
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin-left: 30%;
    margin-top: 35%;
    background-color: #adb5bd;
}

.item-title{
  text-align: center;  
  font-size: 12px;
  margin-top: 21%;
  color: #adb5bd;
  font-weight: bold;
}

.circle-menu{
    background-color: #8f9396;
    width: 40px;
    height: 40px;
    border-radius: 19px;
    margin-left: 19%;
    margin-top: 21%;
}

.input-search{
    margin-left: 12% !important;
    margin-top: 2% !important;
    border: none;
    width: 377px !important;
 }
 
 input:focus{
     outline: none !important;
 }
 
 .input-group.input-search > input{
     border: none;
     border-bottom: 1px #adb5bd solid;
     background-color: transparent !important;
     border-radius: 0px !important;
     font-size: 14px !important;
     margin-left: -15px !important;
 }
 
 .input-group-text{
     background-color: transparent !important;
     border: none !important;
     border-bottom: 1px #adb5bd solid !important;
     border-radius: 0px !important;
     font-size: 14px !important;
 }
 
 .radio-view{
     border-radius: 1px !important;
     width: 97px !important;
     height: 32px !important;
     background-color: #CFD8DC !important;
     border-color: #adb5bd !important;
     color: #78909C !important;
     font-size: 14px !important;
     font-family: 'Roboto';
 }

 .elements-users{
    margin-left: 12% !important;
    margin-top: 3% !important;
    border: 1px #f8f9fa solid !important;
    width: 277.36px;
    height: 25vmin;
    padding-top: 9.8%;
    background-color: #f8f9fa !important;
    position: relative !important;
 }

 .icons-user{
    border: 1px #e9ecef solid !important;
    background-color: #e9ecef !important;
    height: 61.59px;
    position: absolute;
    bottom: 0vmin;
    width: 280px;
 }

 .buttons-crud{
    margin-top: 2%;
    margin-left: 27%;
    font-size: 12px !important;
 }

 .btn-new-user{
    border-radius: 1px !important;
    margin-left: 2%;
    width: 131px !important;
    height: 40px !important;
    margin-top: 1.5% !important;
    font-size: 12px !important;
 }

 .title-button-radio {
    margin-right: 5% !important;
    margin-top: 1% !important;
    font-size: 14px !important;
    color:#6c757d;
 }

 .form-box{
    background: #ffff;
    height: 100% !important;
    width: 35% !important;
    margin-left: 90%;
    z-index: 1000;
    position: absolute !important;
    width: 30% !important;
    margin-left: 70%;
    padding: 2% 2% 2% 2%;
    box-shadow: #607D8B 3px 6px 15px 1px !important;
}

.box-text-user{
    position: absolute;
    top: 10vmin;
    text-align: center;
}

.box-text-user > p{
    width: 276px;
}

/* .p-user-name{

}

.p-user-email{

} */

.image-user{
    position: relative;
    width: 6vmin;
    z-index: 555;
    bottom: 11vmin;
    border-radius: 55px;
    margin-left: 11vmin;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7,
 .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
    padding: 0px !important;
    margin: 0px !important;
}


@media (max-width:992px){
    .sidebar{
        display:none
    }
}
